<!DOCTYPE html>
<html>
  <head>
    <title>
      Fortune!
    </title>
  </head>
  
  <body>
    <h1>
      Here's Your Fortune
    </h1>
    <h3>
      Greetings, <%=@the_user%>, your fortune says: <%=@the_fortune%>.
    </h3>
  </body>
</html>